@{
    ViewBag.Title = "Details about cookies on Gender pay gap service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Details about cookies on ???</h1>
        <h2 class="govuk-heading-l">Change your settings</h2>
        <p class="govuk-body">You can <a href="@Url.Action("CookieSettings_Get", "Cookie")" class="govuk-link">change which cookies you’re happy for us to use</a>.</p>
    </div>
</div>
