
# User preferences
.idea
SimpleEnergyAdvice.sln.DotSettings.user

# Dependencies
node_modules/

# Build results
bin/
obj/
**/wwwroot/compiled
SeaPublicWebsite/out

# Secrets
Infrastructure/LoginToGovPaas.sh
Infrastructure/SetEnvironmentSecrets.sh

ci-server-build/