
# User preferences
.idea

# Dependencies
node_modules/

# Build results
bin/
obj/
**/wwwroot/compiled

# App Secrets
SeaPublicWebsite/appsettings.secret.json

Infrastructure/LoginToGovPaas.sh