@model SeaPublicWebsite.Models.EnergyEfficiency.DownloadPdfButtonViewModel

<a
    class="govuk-link sea-download-link @Model.DownloadLinkClass"
    href="@Url.Action("GenerateActionPlanPdf_Get", "EnergyEfficiency", new { reference = Model.Reference })">
    <img src="/assets/images/download-icon.png" aria-hidden="true"/>
    <span>Download Action Plan PDF</span>
</a>
