@model SeaPublicWebsite.Models.EnergyEfficiency.DownloadPdfButtonViewModel

<a
    class="govuk-link sea-download-link @Model.DownloadLinkClass"
    href="@Url.Action("GenerateRecommendationsPdf_Get", "EnergyEfficiency", new { reference = Model.Reference })">
    <img src="/assets/images/download-icon.png" aria-hidden="true"/>
    <span>Download Recommendations PDF</span>
</a>
