@using SeaPublicWebsite.Models.EnergyEfficiency
@using SeaPublicWebsite.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@model SeaPublicWebsite.Models.EnergyEfficiency.AlternativeRecommendationsViewModel

@{
    ViewBag.Title = "Alternative Recommendations";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">
            Other ways to save energy
        </h1>
        
        <p class="govuk-body">
            If you are looking for some easy to implements reccomendations or some alternatives incase the ones we 
            presented were not suitable, here are some other actions  you could consider.
        </p>
        <p class="govuk-body">
            Or you can proceed straight to your
            <a class="govuk-link" href="@Url.Action(nameof(EnergyEfficiencyController.ActionPlan_Get), "EnergyEfficiency", new {reference = Model.Reference})">action plan</a> 
            for a summary of the recommendations 
            you would like to act on and advice on your next steps.
        </p>
        
        @if (Model.ShowAltRadiatorPanels)
        {
            <h2 class="govuk-heading-m">
                Reflective radiator panels
            </h2>
            
            <p class="govuk-body">
                Because you have uninsulated walls, you could save energy by fitting reflective radiator panels 
                behind radiators on external walls. More information is available at the 
                <a class="govuk-link" href="https://energysavingtrust.org.uk/" target="_blank">Energy Saving Trust website.</a>
            </p>
        }
        
        @if (Model.ShowAltHeatPump)
        {
            <h2 class="govuk-heading-m">
                Heat your home with a heat pump
            </h2>
            
            <p class="govuk-body">
                It may be possible to replace your current heating system with a heat pump, a low carbon heating 
                system. More information is available at 
                <a class="govuk-link" href="https://www.heat-pump-check.service.gov.uk/" target="_blank">Check if a heat pump could be suitable for your home.</a>
            </p>
        }
        
        @if (Model.ShowAltDraughtProofFloors)
        {
            <h2 class="govuk-heading-m">
                Draught-proof your floors
            </h2>
            
            <p class="govuk-body">
                Insulating your floor can be disruptive, but draught-proofing doesn’t need to 
                be and can still help reduce your energy bills. More information available at the
                <a class="govuk-link" href="https://energysavingtrust.org.uk/" target="_blank">Energy Saving Trust website.</a>
            </p>
        }
        
        @if (Model.ShowAltDraughtProofWindowsAndDoors)
        {
            <h2 class="govuk-heading-m">
                Draught-proof your windows and doors
            </h2>
            
            <p class="govuk-body">
                If replacing your windows and doors isn’t something you can do right now, consider draught-proofing 
                any gaps around your windowpanes and door frames. More information is available at the
                <a class="govuk-link" href="https://energysavingtrust.org.uk/" target="_blank">Energy Saving Trust website.</a>
            </p>
        }
        
        @if (Model.ShowAltDraughtProofLoftAccess)
        {
            <h2 class="govuk-heading-m">
                Draught-proof your loft access
            </h2>
            
            <p class="govuk-body">
                Cold draughts can come through your loft hatch or access point. Consider fitting strips of 
                draught-excluding material around the hatch edges. More information is available at the
                <a class="govuk-link" href="https://energysavingtrust.org.uk/" target="_blank">Energy Saving Trust website.</a>
            </p>
        }
        
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/_LowCostMeasures", new LowCostMeasuresViewModel
           {
               Reference = Model.Reference,
               FromActionPlan = Model.FromActionPlan,
               FromNoRecommendations = false,
               Heading = "Improve your water and electricity efficiency",
               Text = "In addition to installing home improvements, the below recommendations could also help you use less energy through reducing your hot water and electricity use."
           }); }
            
        <form action="@Url.Action(nameof(EnergyEfficiencyController.AlternativeRecommendations_Post), "EnergyEfficiency")" method="post" novalidate>
                    
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.FromActionPlan)
            
            @{ await Html.RenderPartialAsync("Recommendations/Partials/_ActionButtons", new ActionButtonsViewModel
               {
                   BackTitle = Model.FromActionPlan ? null : "Go back to",
                   BackText = Model.FromActionPlan ? null : $"Recommendation {Model.LastIndex}",
                   ForwardTitle = Model.FromActionPlan ? "Back to" : "Continue to",
                   ForwardText = "Action Plan"
               }); }
        </form>
    </div>
</div>