@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers
@using SeaPublicWebsite.Models.EnergyEfficiency
@model SeaPublicWebsite.Models.EnergyEfficiency.WaterAndEnergyEfficiencyViewModel

@{
    ViewBag.Title = "Improve your water and electricity efficiency";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Href = Model.BackLink
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Improve your water and electricity efficiency
        </h1>
        <p class="govuk-body">
            In addition to installing home improvements, the below recommendations could also help you use 
            less energy through reducing your hot water and electricity use.
        </p>
        
        <h2 id="water-efficient-showerhead" class="govuk-heading-l">
            Water efficient showerhead
        </h2>
        <p class="govuk-body">
            A water efficient shower head uses less water than the average shower head by regulating the flow rate.
            This could save you money as you use less hot water for the same time in the shower.
        </p>
        <p class="govuk-body">
            This would involve unscrewing your current shower head and replacing it with a water efficient one. 
            This attachment is not compatible with electric, multi jet, digital or Aqualisa showers.
        </p>
        <p class="govuk-body">
            Many water companies offer water saving advice. You can check who provides your water and sewerage services 
            by entering your postcode on 
            <a class="govuk-link" href="https://www.water.org.uk/advice-for-customers/find-your-supplier/" target="_blank">this service hosted by Water UK.</a>
        </p>
        
        <h2 id="tap-aerators" class="govuk-heading-l">
            Tap aerators
        </h2>
        <p class="govuk-body">
            A tap aerator is a small device that fits on to an existing mixer tap in your kitchen or bathroom. 
            It adds air to the flow of hot water to reduce the volume of hot water used, without affecting the wash 
            and rinse effect. This could save you money as you use less hot water.
        </p>
        <p class="govuk-body">
            You would need to look for a device compatible with your current tap, 
            but usually involves screwing the device to the tap.
        </p>
        <p class="govuk-body">
            Many water companies offer water saving advice. You can check who provides your water and sewerage services 
            by entering your postcode on 
            <a class="govuk-link" href="https://www.water.org.uk/advice-for-customers/find-your-supplier/" target="_blank">this service hosted by Water UK.</a>
        </p>
        
        <h2 id="energy-efficient-appliances" class="govuk-heading-l">
            Upgrade to energy efficient appliances
        </h2>
        <p class="govuk-body">
            When you’re buying a new appliance for your home, look out for its energy label. The energy label tells you 
            how much energy that appliance uses, comparing it to similar appliances. This can help you find appliances 
            that use the least amount of energy. You should also consider the size of the appliance you need.
        </p>
        <h3 class="govuk-heading-s">
            How do energy labels work?
        </h3>
        <p class="govuk-body">
            Appliances are tested for how much energy they use during typical use. This gives them a rating on a scale 
            of A to G, with A being the most efficient product of its class, and G being the least efficient. 
            Some appliances use an older scale, from A+++ to G, with A+++ being the most efficient.
        </p>
        <p class="govuk-body">
            In general, appliances are categorised by their size. This means that two different sized appliances 
            with the same energy rating might use different amounts of electricity.
        </p>
        <p class="govuk-body">
            It’s best to check the appliance’s energy label, and look for the product with the best energy rating 
            for the size you require.
        </p>
        <p class="govuk-body">
            You can find more information about the energy labels on the 
            <a class="govuk-link" href="https://energylabel.org.uk/" target="_blank">Label 2020 website.</a> 
        </p>

        <form action="@Url.Action(nameof(EnergyEfficiencyController.WaterAndElectricityEfficiency_Post), "EnergyEfficiency")" method="post" novalidate>
            
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.FromActionPlan)
            @Html.HiddenFor(m => m.FromNoRecommendations)
            
            @{ await Html.RenderPartialAsync("Recommendations/Partials/_ActionButtons", new ActionButtonsViewModel
               {
                   BackTitle = Model.FromNoRecommendations ? null : "Go back to",
                   BackText = Model.FromNoRecommendations ? null : "Other ways to save energy",
                   ForwardTitle = Model.FromNoRecommendations ? "Back to" 
                       : Model.FromActionPlan ? "Return to" : "Continue to",
                   ForwardText = Model.FromNoRecommendations ? "Results" : "Action Plan"
               }); }
        </form>
    </div>
</div>






