@{
    ViewBag.Title = "Thank you for your feedback";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Thank you for your feedback
        </h1>
        <p class="govuk-body">
            Your input will help us improve this service.
        </p>
        <p class="govuk-body">
            Please note that we will not be able to reply to your feedback.
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action("Index", "EnergyEfficiency")">
                Return to Energy Advice Services
            </a>
        </p>
    </div>
</div>