// This is a GOV.UK Publishing specific component that
// can be seen at http://govuk-static.herokuapp.com/component-guide/related_items

.app-related-items {
    border-top: 2px solid govuk-colour("blue");
    padding-top: govuk-spacing(2);
}

.app-related-items .govuk-list > li {
    margin-bottom: govuk-spacing(2);
}

.sea-service-unsuitable, .sea-recommendations-panel {
    background-color: govuk-colour("blue");
}

.sea-recommendations-panel {
    .govuk-caption-l, .sea-reference {
        color: govuk-colour("white");
    }
}

.sea-total-installation-cost {
    border-left: 4px solid govuk-colour("black");
}

.sea-total-savings {
    border-left: 4px solid govuk-colour("green");
}

.sea-total-savings-text {
    color: govuk-colour("green");
}

.sea-user-reference {
    border: solid 2px govuk-colour("blue");
    padding: 40px 10px 0px 20px;
}

.sea-recommendation-side-panel {
    border-top: 2px solid govuk-colour("blue");
    padding-top: govuk-spacing(2);
}

.sea-install-costs {
    border-left: 4px solid govuk-colour("black");
}

.sea-yearly-savings {
    border-left: 4px solid govuk-colour("green");

    h3 {
        color: govuk-colour("green");
    }
}

.sea-recommendation-impact {
    text-align: right;
}

.sea-next-steps {
    margin-top: 15px;
}

.sea-warning-text__icon--long {
    top: 33.3%;
}

.sea-numbered-steps {
    position: relative;

    ol {
        list-style: none;
        counter-reset: li;
    }
}

.sea-numbered-steps::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: govuk-colour("mid-grey");
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 15px;
}

.sea-step {
    counter-increment: li;
    padding: 0 0 0 30px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

.sea-step::after {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -20px;
    background-color: govuk-colour("blue");
    border: 4px solid govuk-colour("blue");
    top: 0px;
    border-radius: 50%;
    color: govuk-colour("white");
    content: counter(li);
    text-align: center;
    z-index: 1;
}