@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.ActionPlanViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@using SeaPublicWebsite.Resources.Bre
@inject IHtmlLocalizer<SharedResources> SharedLocalizer


@if (Model.GetDiscardedRecommendations().Any())
{
    @await Html.GovUkDetails(new DetailsViewModel
    {
        SummaryText = SharedLocalizer["Recommendations you discarded"].Value,
        Html = @<ul class="govuk-list govuk-list--bullet">
                   @foreach(var recommendation in Model.GetDiscardedRecommendations())
                   {
                       <li>
                           <a class="govuk-link" href="@Model.GetUrlWithPrefix(Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.PropertyData.Reference, fromActionPlan = true}))">
                               @(RecommendationServiceText.ResourceManager.GetString(recommendation.Title) ?? recommendation.Title)
                           </a>
                       </li>
                   }
               </ul>
    })
}