@model SeaPublicWebsite.Models.EnergyEfficiency.DownloadPdfButtonViewModel;

<h2 class="govuk-heading-m">
    Download your information
</h2>

<ul class="govuk-list">
    <li>@{ await Html.RenderPartialAsync("Partials/_DownloadActionPlan", Model); }</li>
    <li>@{ await Html.RenderPartialAsync("Partials/_DownloadRecommendations", Model); }</li>
</ul>
