@using SeaPublicWebsite.Models.EnergyEfficiency
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem.GovUkDesignSystemComponents.Enums
@using SeaPublicWebsite.Controllers
@model SeaPublicWebsite.Models.EnergyEfficiency.ReturnToActionPlanViewModel;

<h2 class="govuk-heading-m govuk-!-padding-top-7 govuk-!-margin-top-9">
    Returning to your Action Plan
</h2>

<div class="sea-user-reference govuk-!-margin-bottom-6" role="complementary">
    <h2 class="govuk-body-l govuk-!-margin-0">Your reference code</h2>
    <span class="govuk-heading-l" id="subsection-title">@Model.Reference</span>
</div>

<p class="govuk-body">
    You can come back to this action plan using your reference number or we can send a link to your email.
</p>

@{ await Html.RenderPartialAsync("_SendEmail.cshtml", new YourSavedRecommendationsEmailViewModel
   {
       Reference = Model.Reference,
       EmailAddress = Model.EmailAddress,
       EmailSent = Model.EmailSent,
       PostAction = Url.Action(nameof(EnergyEfficiencyController.ActionPlan_Post), "EnergyEfficiency", new {reference = Model.Reference})
   }); }

<h2 class="govuk-heading-m">
    Change your answers
</h2>
<p class="govuk-body">
    We have provided recommendations that are most suitable for your home based on the answers you provided earlier.
</p>
<p class="govuk-body">
    If something doesn’t look right you can 
    <a href="@Url.Action(nameof(EnergyEfficiencyController.AnswerSummary_Get), "EnergyEfficiency", new { reference = Model.Reference })">
        view and change your answers here.
    </a> 
</p>

@await Html.GovUkNotificationBanner(new NotificationBannerViewModel
{
    TitleText = "Give feedback",
    TitleHeadingLevel = HeadingLevel.h2,
    Html = @<text>
               <p class="govuk-body">
                   <strong>
                       This service is still in development. Your feedback will help us understand
                       how well the service is working and what can be improved.
                   </strong>
               </p>
               <a href=@Constants.FEEDBACK_URL_ACTION_PLAN>
                   <strong>
                       Leave your feedback
                   </strong>
               </a>
            </text>
})