@model SeaPublicWebsite.Models.EnergyEfficiency.YourSavedRecommendationsViewModel;

<p class="govuk-body">
    You told us you would like some more information on one or more of the recommendations before considering them for your property:
</p>

<ul class="govuk-list govuk-list--bullet">
    @foreach(var recommendation in Model.GetSavedRecommendations())
    {
        <li>
            <a href="@Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.PropertyData.Reference})">
                @recommendation.Title
            </a>
        </li>
    }
</ul>

<p class="govuk-body">
    You can find out more by visiting the 
    <a href="https://energysavingtrust.org.uk/">Energy Saving Trust</a> 
    website for other ways to save energy and reduce your bills.
</p>


                                                                                                                              