@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.AccessibleLoftSpaceViewModel
@{
    ViewBag.Title = "Accessible loft space";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("AccessibleLoftSpace_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            
            @(await Html.GovUkRadiosFor(m => m.AccessibleLoftSpace,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Do you have an accessible loft area that hasn’t been converted into a room? 
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               <details class="govuk-details" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                       <span class="govuk-details__summary-text">
                                           Help me answer this question
                                       </span>
                                   </summary>
                                   <div class="govuk-details__text">
                                       <p class="govuk-body">
                                           A loft area is an unheated space without walls and ceilings, immediately beneath the pitched roof. You will usually be able to see the roof timbers.
                                       </p>
                                       <p class="govuk-body">
                                           It is accessible if an installer could easily get into it to do some work – for example, if there is an existing loft hatch and some of the space is big enough for someone to stand up in it.  
                                       </p>
                                       <p class="govuk-body">
                                           If all the space under your pitched roof, or nearly all the space, is used as living space with finished walls and ceilings then you don’t have an accessible loft. 
                                       </p>
                                   </div>
                               </details>
                            </text>
                }
                ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
