@{
    ViewBag.Title = "Energy Efficiency Questionnaire";
}

@section BeforeMain {
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">
            @Constants.SERVICE_NAME
        </h1>
        
        <p class="govuk-body">
            Find ways to reduce your energy bills and make your home more energy efficient.
        </p>
        
        <h3 class="govuk-heading-s">Who can use this service</h3>
        <p class="govuk-body">
            This service is for people who own their own property in England and Wales.
        </p>
        
        <h3 class="govuk-heading-s">If your property is outside of England and Wales</h3>
        <p class="govuk-body">
            If you live in Scotland, visit
            <a class="govuk-link" href="https://www.homeenergyscotland.org/">Home Energy Scotland</a>
            to help you find ways to reduce your energy bills.
        </p>
        <p class="govuk-body">
            If you live in Northern Ireland, visit
            <a class="govuk-link" href="https://www.nidirect.gov.uk/">NI Direct</a>
            for help.
        </p>

        <h3 class="govuk-heading-s">
            How long it takes
        </h3>
        <p class="govuk-body">
            You will need to answer some questions about your home and how much energy you use.
        </p>
        <p class="govuk-body">
            We will use this information to make sure the recommendations to improve your property’s energy efficiency
            are relevant and suitable for your home.
        </p>

        <div class="govuk-inset-text govuk-!-margin-top-4 govuk-!-margin-bottom-4">
            It takes around <strong>10 minutes</strong> to answer the questions and receive recommendations tailored to you.
            You can then build an action plan of the recommendations you would like to take forward.
        </div>
        
        <p class="govuk-body">
            You could receive advice on ways to save energy, such as:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>insulating your loft and cavity walls</li>
            <li>draught-proofing windows and doors</li>
            <li>upgrading your heating</li>
            <li>installing double glazing</li>
        </ul>
        <p class="govuk-body">
            Each recommendation will explain what’s involved, and where to go to for further advice.
        </p>

        <a href="@Url.Action("NewOrReturningUser_Get", "EnergyEfficiency")" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
        
        @* seabeta-555 uncomment this after private beta *@
        @* <h2 class="govuk-heading-m"> *@
        @*     Other ways to get support *@
        @* </h2> *@
        @* <p class="govuk-body"> *@
        @*     If you would like some help with the website, you can call us to talk to one of our digital support assistants. *@
        @* </p> *@
        @* <p class="govuk-body-l"> *@
        @*     Telephone <br /> *@
        @*     <span class="sea-telephone"><strong>0800 444 202</strong></span> *@
        @* </p> *@
        @* <p class="govuk-body"> *@
        @*     Monday to Friday: 8am to 8pm<br> *@
        @*     Saturday and Sunday: 9am to 5pm *@
        @* </p> *@
        @* <p class="govuk-body"> *@
        @*     <a class="govuk-link"  href="https://www.gov.uk/call-charges"> *@
        @*         Find out more about call charges *@
        @*     </a> *@
        @* </p> *@
    </div>
    @await Html.PartialAsync("/Views/EnergyEfficiency/Sections/RelatedContent.cshtml")
</div>
