@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@model SeaPublicWebsite.Models.EnergyEfficiency.LoftAccessViewModel
@{
    ViewBag.Title = "Loft access";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BeforeMain,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("LoftAccess_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details = 
                    @<text>
                        <p class="govuk-body">
                            You may have a loft hatch, access ladder or stairs that could allow an insulation installer to get into the loft space.
                        </p>
                     </text>;
            }
            
            @(await Html.GovUkRadiosFor(m => m.LoftAccess,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Is there access to your loft?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                new HintViewModel
                {
                    Html = @<p class="govuk-body">
                               You may have a loft hatch, access ladder or stairs that could allow an insulation installer to get into the loft space.
                           </p>
                }
                ))

            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            
        </form>
        
    </div>
</div>
