@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Controllers
@model SeaPublicWebsite.Models.EnergyEfficiency.NoRecommendationsViewModel;

@{
    ViewBag.Title = "Your home is energy efficient";
}

@section BackLink {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @await Html.GovUkPanel(new PanelViewModel
        {
            TitleText = "Your home is energy efficient",
            Text = "Your home is well insulated"
        })
        
        <p class="govuk-body">From the information collected, it seems like your home is already energy efficient and may not significantly benefit from further measures.</p>
        <p class="govuk-body">You may be able to make changes to how you use energy to help reduce your bills.</p>
        
        <h1 class="govuk-heading-l">What else you can do</h1>
        
        <h3 class="govuk-heading-s">Water efficient showerhead</h3>
        <p class="govuk-body">Replace your showerhead to reduce how much hot water you use.</p>
        <p class="govuk-body"><a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Read more (opens in new tab)</a></p>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        <h3 class="govuk-heading-s">Tap aerators</h3>
        <p class="govuk-body">A small device you can attach to your tap to  reduce how much hot water you use.</p>
        <p class="govuk-body"><a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Read more (opens in new tab)</a></p>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        <h3 class="govuk-heading-s">Upgrade to energy efficient appliances</h3>
        <p class="govuk-body">When it’s time to replace your appliances, use the energy label to help you choose. </p>
        <p class="govuk-body"><a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Read more (opens in new tab)</a></p>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        <h1 class="govuk-heading-l">Still need help?</h1>
        <p class="govuk-body">You can visit the <a href="https://energysavingtrust.org.uk/" class="govuk-link">Energy Saving Trust website</a> for more information on reducing your home’s energy use.</p>

        <h1 class="govuk-heading-l">Start over</h1>
        <p class="govuk-body">See if there are improvements you can make to another property.</p>

        @await Html.GovUkButton(new ButtonViewModel
        {
            Text = "Start again for another property",
            Href = Url.Action(nameof(EnergyEfficiencyController.Index), "EnergyEfficiency")
        })
        
        <h1 class="govuk-heading-l">Give feedback</h1>
        <p class="govuk-body">This service is still in its early stages and under active development. </p>
        <p class="govuk-body">Your feedback can help us to shape how the service develops so that it can best serve the needs of the public.  </p>
        <p class="govuk-body">
            <a href="@Url.Action(nameof(FeedbackController.FeedbackSurvey_Get), "Feedback")" class="govuk-link">
                Leave some feedback for this service
            </a>
        </p>

    </div>
</div>