@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Controllers
@using SeaPublicWebsite.Models.EnergyEfficiency
@model SeaPublicWebsite.Models.EnergyEfficiency.NoRecommendationsViewModel;

@{
    ViewBag.Title = "Your home is energy efficient";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @await Html.GovUkPanel(new PanelViewModel
        {
            TitleText = "Your home is energy efficient",
            Text = "Your home is well insulated"
        })
        
        <p class="govuk-body">From the information collected, it seems like your home is already energy efficient and may not significantly benefit from further measures.</p>
        <p class="govuk-body">You may be able to make changes to how you use energy to help reduce your bills.</p>
        
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/_LowCostMeasures", new LowCostMeasuresViewModel()); }
        
        <h2 class="govuk-heading-l">Still need help?</h2>
        <p class="govuk-body">You can visit the <a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Energy Saving Trust website</a> for more information on reducing your home’s energy use.</p>

        @{
            await Html.RenderPartialAsync("ActionPlan/Partials/_ReturnToActionPlan", new ReturnToActionPlanViewModel
            {
                Reference = Model.Reference,
                EmailAddress = Model.EmailAddress,
                EmailSent = Model.EmailSent,
                FromActionPlan = false
            }); }

    </div>
</div>