@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Models.EnergyEfficiency
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.RoofInsulatedViewModel
@{
    ViewBag.Title = "Roof Insulated";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("RoofInsulated_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            
            
            @(await Html.GovUkRadiosFor(m => m.RoofInsulated,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Is your loft fully insulated?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   A fully insulated loft is insulated to current building regulations. 
                               </p>
                               <p class="govuk-body">
                                   This might be with 300mm (six inches) of mineral wool insulation laid on the “floor” of the loft, 
                                   or foam board insulation fitted between and over the sloping rafters that make up the structure of the pitched roof.
                               </p>
                               <details class="govuk-details" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                       <span class="govuk-details__summary-text">
                                           Help me answer this question
                                       </span>
                                   </summary>
                                   <div class="govuk-details__text">
                                       <p class="govuk-body">
                                           A fully insulated loft is insulated to current building regulations. 
                                       </p>
                                       <p class="govuk-body">
                                           If your home was built after 2002, or you have installed loft insulation since 2002, 
                                           it is likely that it is fully insulated.
                                       </p>
                                   </div>
                               </details>
                            </text>
                },
                conditionalOptions: new Dictionary<RoofInsulated, Conditional>
                {
                    {
                        RoofInsulated.DoNotKnow,
                        new Conditional
                        {
                            Html = (@<text>
                                        @if (Model.YearBuilt.HasValue)
                                        {
                                            <p class="govuk-body">
                                                Properties of your type typically
                                                @if (Model.YearBuilt.Value > 2002)
                                                {
                                                    <b> do have </b>
                                                }
                                                else
                                                {
                                                    <b> do not have </b>
                                                }
                                                a fully insulated loft.
                                            </p>
                                            <p class="govuk-body">
                                                We can generate recommendations based on this information.
                                            </p>
                                        }          
                                     </text>)
                        }
                        }
                }
                ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
