@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Models.EnergyEfficiency
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.SolidWallsInsulatedViewModel
@{
    ViewBag.Title = "Solid Walls Insulated";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("SolidWallsInsulated_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @Html.AntiForgeryToken()
            @(Html.HiddenFor(m => m.EntryPoint))
            
            @(await Html.GovUkRadiosFor(m => m.SolidWallsInsulated,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Are your solid walls insulated?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   Solid wall insulation may be installed internally, inside your home, or externally, on the outside walls.
                               </p>
                               
                               <details class="govuk-details govuk-!-marginSolid wall insulation may be installed internally, inside your home, or externally, on the outside walls.-bottom-3" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                       <span class="govuk-details__summary-text">
                                           Help me answer this question
                                       </span>
                                   </summary>
                                   <div class="govuk-details__text">
                                       <p class="govuk-body">
                                           Solid walls are more common in pre-1930 buildings and these were typically built without insulation.
                                       </p>
                                       <p class="govuk-body">
                                           If you have solid walls, it’s unlikely they are insulated. 
                                       </p>
                                   </div>
                               </details>
                            </text>
                    },
                conditionalOptions: new Dictionary<SolidWallsInsulated, Conditional>
                {
                    {
                        SolidWallsInsulated.DoNotKnow,
                        new Conditional
                        {
                            Html = (@<text>
                            @if (Model.Epc?.SolidWallsInsulated != null)
                            {
                                if (Model.SolidWallsInsulated == SolidWallsInsulated.All)
                                {
                                    <div class="govuk-hint">
                                        <p>
                                            Your Energy Performance Certificate suggests you have <b>insulated</b> solid walls.
                                        </p>
                                        <p>
                                            We can generate recommendations based on this information.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="govuk-hint">
                                        <p>
                                            Your Energy Performance Certificate suggests you have <b>uninsulated</b> solid walls.
                                        </p>
                                        <p>
                                            We can generate recommendations based on this information.
                                        </p>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="govuk-hint">
                                    <p>
                                        Properties of your type typically have <b>uninsulated</b> solid walls.
                                    </p>
                                    <p>
                                        We can generate recommendations based on this information.
                                    </p>
                                </div>
                            }
                         </text>)
                        }
                        }
                }))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
