@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel

<div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-bottom-7 govuk-!-margin-top-6">
    <div class="govuk-grid-column-full sea-yearly-savings govuk-!-margin-bottom-2">
        <span class="govuk-caption-m"><b>This could save up to</b></span>
        <h3 class="govuk-heading-l govuk-!-margin-bottom-1">
            £@Model.UserRecommendation.Saving a year
        </h3>
        <span class="govuk-caption-m govuk-!-margin-top-3"><b>Which adds up to</b></span>
        <h3 class="govuk-heading-l govuk-!-margin-bottom-1">
            £@Model.UserRecommendation.LifetimeSaving <span class="govuk-body"><b>over the lifetime of the installation</b></span>
        </h3>
    </div>
    <div class="govuk-grid-column-full sea-install-costs">
        <span class="govuk-caption-m"><b>This could cost</b></span>
        <h3 class="govuk-heading-l govuk-!-margin-bottom-1">
            £@Model.UserRecommendation.MinInstallCost - £@Model.UserRecommendation.MaxInstallCost
        </h3>
    </div>
</div>
