@model SeaPublicWebsite.Models.EnergyEfficiency.YourSavedRecommendationsViewModel;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Your Action Plan
        </h1>
        
        <h2 class="govuk-heading-l">
            Research improvements you are unsure about
        </h2>
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/ImprovementsUnsureAboutPartial", Model); }
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/AvailableSchemesOrGrantsPartial", Model); }
        
        <h2 class="govuk-heading-l">What else you can do</h2>
        
        <h3 class="govuk-heading-s">Water efficient showerhead</h3>
        <p class="govuk-body">Replace your showerhead to reduce how much hot water you use.</p>
        <p class="govuk-body"><a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Read more (opens in new tab)</a></p>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        <h3 class="govuk-heading-s">Tap aerators</h3>
        <p class="govuk-body">A small device you can attach to your tap to  reduce how much hot water you use.</p>
        <p class="govuk-body"><a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Read more (opens in new tab)</a></p>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        <h3 class="govuk-heading-s">Upgrade to energy efficient appliances</h3>
        <p class="govuk-body">When it’s time to replace your appliances, use the energy label to help you choose. </p>
        <p class="govuk-body"><a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Read more (opens in new tab)</a></p>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/DiscardedRecommendationsPartial", Model); }
        
        <h2 class="govuk-heading-m">Still need help?</h2>
        <p class="govuk-body">
            You can find out more by visiting the
            <a href="https://energysavingtrust.org.uk/">Energy Saving Trust</a>
            website for other ways to save energy and reduce your bills.
        </p>
        
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/ReturnToActionPlanPartial", Model); }
    </div>
</div>