@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Models.EnergyEfficiency
@model SeaPublicWebsite.Models.EnergyEfficiency.ActionPlanViewModel;

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Your Action Plan
        </h1>
        
        <p class="govuk-body">
            You told us that you don’t want to proceed with any of the recommendations suggested to you. 
            There are still some options for you to consider.
        </p>
        
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/_AvailableSchemesOrGrants", Model); }
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/_DiscardedRecommendations", Model); }
        
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-6">
            Other ways to save energy
        </h2>
        
        <p class="govuk-body">
            We have also compiled a list of reccomendations that are more easy to action. See the 
            <a class="govuk-link" href="@Url.Action("AlternativeRecommendations_Get", "EnergyEfficiency", new {reference = Model.PropertyData.Reference, fromActionPlan = true})">
                alternative recommendations here.
            </a>
        </p>
        
        <p class="govuk-body">
            You can find out more by visiting the
            <a href="https://energysavingtrust.org.uk/" target="_blank">Energy Saving Trust</a>
            website for other ways to save energy and reduce your bills.
        </p>
        
        <h2 class="govuk-heading-l govuk-!-margin-bottom-3 govuk-!-margin-top-6">Still need help?</h2>
        <p class="govuk-body">
            You can find out more by visiting the
            <a href="https://energysavingtrust.org.uk/" target="_blank">Energy Saving Trust</a>
            website for other ways to save energy and reduce your bills.
        </p>
        
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/_ReturnToActionPlan", new ReturnToActionPlanViewModel
           {
               Reference = Model.PropertyData.Reference,
               EmailAddress = Model.EmailAddress,
               EmailSent = Model.EmailSent
           }); }
    </div>
</div>