@{
    ViewBag.Title = "Unauthorised - Home Energy Retrofit Advice - GOV.UK";
}

@* // TODO: BEISSEA-85: This is a WIP and should be removed *@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Forbidden</h1>
        <p class="govuk-body">
            You do not have access to this page.
        </p>
        <p class="govuk-body">
            If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
            If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
            If the web address is correct or you selected a link or button, contact our digital support assistants if you need to speak to someone.
        </p>
        <p class="govuk-body-l">
            Telephone <br/>
            <span class="sea-telephone"><strong>0800 444 202</strong></span>
        </p>
        <p class="govuk-body">
            Opening times:
        </p>
        <p class="govuk-body">
            <strong>
                Monday to Friday: 8am to 8pm<br>
                Saturday and Sunday: 9am to 5pm
            </strong>
        </p>
    </div>
</div>